

    <div class="search-container">
    <div *ngFor="let item of searchData" class="card">
        <a href="" class="profile">
            <div class="profile-img">
                <img src="" alt="" class="search-pro-img">
            </div>
            <div class="profile-name">
                <span class="search-pro-name">
                    {{item.name}}
                </span>
            </div>
        </a>

        <div class="contact-search">

            <div class="ico-row">
                <div class="msg">
                    <button mat-icon-button color="basic"  class="hover-btn">
                        <mat-icon>message</mat-icon>
                  </button>
                    <!-- <p>Message</p> -->
                </div>
               
               
                <div class="fav">
                    <button mat-icon-button color="basic" class="hover-btn" >
                        <mat-icon>favorite</mat-icon>
                    </button>
 
                <!-- <p>Favorite</p> -->
            </div>
            </div>
           
           
       

            <div class="view-pro-row">
            <button (click)="viewProfile(item._id)" mat-raised-button color="basic" class="viewPro-btn">View Profile</button>
            </div>
        </div>
    </div>
    </div>

    


    